.order-item-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 18px;
    background-color: transparent;
    margin:0;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: 1.5rem;
     font-weight: 600;
}
.order-item-btn__name{
    text-align: left;
    display: flex;
    align-items: flex-start;

}
.order-item-btn__name-main{
    height: 50px;
    text-overflow: clip;
    overflow: hidden;
    text-transform: lowercase;
}
.order-item-btn__value{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 141px;
    font-size: 1.5rem;
    font-weight: 600;
}

.order-item-btn__name-code{
    font-size: 1.5rem;
    font-weight: 600;
   min-width: 50px;
}