.main-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
}
.main-page__cart-area {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10px);
}
.main-page__order-area {
    flex-grow: 1;
    overflow-x: auto;
}
