.menu-item {
    padding: 10px 15px;
    width: 200px;
}
.menu-item__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.menu-item__name {
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    line-height: 1.4rem;
    max-width: 100px;
    overflow: hidden;
}
.menu-item__price {
    text-align: left;
}
.menu-item__number {
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
    line-height: 3rem;
    width: 65px;
}
.menu-item__row--footer {
    font-size: 1.3125rem;
    align-items: center;
}
.menu-item__quantity {
    text-align: right;
    font-size: 1rem;
}
.menu-item--active {
    background-color: #faffc0;
}
