.container-fluid {
    padding: 10px;
    height: 100vh;
}
:root {
    --app-button__background-color: #feffec;
    --app-button__background-color--active: #faffc0;
    --app-button__border-color--active: #9ea920;

    --app-checkout-total-button__text-color: #fff;
    --app-checkout-total-button__background-color: #0B8C00;
    --app-checkout-total-button__font-size: 2rem;
    --app-checkout-total-button__icon-size: 2.2rem;

}
